body {
  background-color: #ffd04f;
  background-color: #d8ad36;
  background-color: #d4d4d8;
  background-color: #fef08a;
  --color-background-2: #2a273f;
  --color-background-2: #d430c9;
  --color-background-2: #7cdfec;
  --color-background-2: #7292eb;
  --color-background-2: #c4a7e7;
  --color-background-2: #eb6f92;
  --color-background-2: #cc0c05;
  --color-background-2: #f6c177;
  --color-background-2: #25252b;
  --color-background-2: #000000;
}

.box {
  height: 200px;
  width: 200px;
  background-color: blue;
  font-size: 40pt;
}

.darkMode {
  --dash-bg-page: #16120e;
  --dash-bg-widget: rgba(30, 24, 16, 0.93);
  --dash-bg-handle: rgba(240,236,228,0.98);
  --dash-accent: #dfd0b8;
  --dash-accent-warm: #ff0000;
  --dash-accent-glow: rgba(255, 153, 0, 0.836);
  --dash-text-primary: #f0e8d8;
  --dash-text-muted: rgba(240, 232, 216, 0.45);
  --dash-border: rgb(255, 255, 255);
  --dash-border-hover: rgb(223, 184, 184);
}

 ember: {
        id: "ember",
        name: "Ember",
        label: ":fire:",
        vars: {
            "--dash-bg-page": "#16120e",                       // main page
            "--dash-bg-widget": "rgba(24,18,14,0.94)",         // widgets / sidebar
            "--dash-accent": "#dfd0b8",                        // 2nd main text color
            "--dash-accent-warm": "#de8900",                   // bolded words/icons (should be slightly BRIGHTER then glow)
            "--dash-accent-glow": "rgba(126, 122, 116, 0.22)", // actual glow
            "--dash-text-primary": "#f2eadc",                  // text color
            "--dash-border": "rgba(223,208,184,0.12)",         // borders around everything
            "--dash-border-hover": "rgba(223,208,184,0.28)",   // icon hover color
        },
    },