/* sets the css / styling for the overall body of the document  */

body {
  /* background-color: #9b090b*/
   margin: 0;
   padding: 0;
   text-align: center;
}
/* sets the 'background' css / style  of the paramters  */
.container {
   width: 90%;
   max-width: 600px;
   margin: 50px auto;
   /*background: #B50B0D*/;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}
/* changes the color of "Password Generator" Title */
#tit {
   font-size:30px;
   font-weight: bold; 
   /*color: #FFD700;*/
}
#life{
   font-family: Inter;
   /*color: #FFD700;*/
}
/* changes the color / positioning of the paramters */
label {
   display: block;
   margin: 15px 0 5px;
   color: #FFD700;
}
/* changes the sizing / style of the checkboxes and number */
input[type="number"],
input[type="checkbox"] {
   width: 100%;
   padding: 10px;
   margin-bottom: 20px;
   border: 1px solid #ccc;
   border-radius: 4px;

}
/*changes the length and positoning of the length paramter */
#length{
   width: 10%;
   text-align: center;
   /*background-color: #FFFFFF;
   color:black !important;*/
}

/* changes the height of the checkboxes */
#includeUppercase,#includeNumbers,#includeSymbols{
   height: 20px;
}

/* changes the styling for ALL of the buttons */
button {
   width: 100%;
   padding: 10px;
   /*
   background-color: #FFD700;
   color: white;
   */
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-size: 16px;
   font-family: Verdana;
}
/* when you hover over any button, this happens */
/*
button:hover {
   background-color: bisque;
   color: black
}
*/
/* chanes the styling  */
#password{
   margin-top: 5px;
   border-radius: 5px;
   /*background-color: #FFFFFF;
   color:black !important;*/
}
.password-output {
   margin-top: 20px;
   /*color:black !important;*/
   font-size: 18px !important;
}












/* changes styling and color of the 'great password text' */
p{
   display: block;
   padding: 5px;
   height:30px;
   font-size: 20px;
   text-align: center;
   color: white;
   background-color: #218838;
   display: none;
}

/* changes the size of the picture*/ 
#pass_pic{
   height: 600px;
   width: 560px;
   text-align: center;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

/* changes the width of the home button
#home{
   width: 100px;
}

*/